<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93429636162-or4n7319hpp58tnilb801l5mfup1m0og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93429636162-or4n7319hpp58tnilb801l5mfup1m0og</string>
	<key>API_KEY</key>
	<string>AIzaSyAuUjaPQpPx-6XoxEGMQgxOkyqhDiu2C84</string>
	<key>GCM_SENDER_ID</key>
	<string>93429636162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tally.mobile.app</string>
	<key>PROJECT_ID</key>
	<string>tally-konnect-55ffb</string>
	<key>STORAGE_BUCKET</key>
	<string>tally-konnect-55ffb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93429636162:ios:45ed69d19fa68238fa61db</string>
	<key>DATABASE_URL</key>
	<string>https://tally-konnect-55ffb-default-rtdb.firebaseio.com</string>
</dict>
</plist>